{% extends 'base.html' %} 
{% load static %}

{% block title %}
Change Password - {{ block.super }}
{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	<div class='card'>
		<div class='card-header d-flex justify-content-center bg-dark text-white'><h1>Change Password</h1></div>
		<div class='card-body'>
			{% for field in form %}
			<div class='row'>
				<dt class='col-12 col-lg-3'>
					<label for='{{ field.name }}'>{{ field.label_tag }}</label>
				</dt>
				<dd class='col-12 col-lg-9'>{{ field }}</dd>
				{% if field.help_text %}
				<dd class='col-9 offset-3 helptext'>
					<ul>
						<li>Your Password should not be the same as your old password.</li>
						<li>It must contains number + alphabets, and may also include special characters.</li>
						<li>The length of your password must be at least 8 chars</li>
					</ul>
				</dd>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<div class='card-footer'>
			<button type='submit' class='btn btn-block btn-info'>Update</button>
		</div>
	</div>
</form>
{% endblock %}