{% autoescape off %}
We've got a request from username: <span style='color: blue'>{{ user.get_username }}</span> to reset password on <span style='color: red'>Kavie Blog</span> recently.
If it wasn't you, please ignore this email and change your password on our site.

If it was you, click the link below to proceed:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

You may wish to copy & paste the link if it fails to open.

Regards,
Kavie
{% endautoescape %}