{% extends 'reg_base.html' %}
{% block title %}
Archives - {{ block.super }}
{% endblock %}

{% block content %}

<div class='card row'>
	<div class='card-body col-12'>
		{% if error %}
		<div class='d-flex justify-content-center col-12'>
			<span class='error'>{{ error }}</span>
		</div>
		{% endif %}
		{% for post in posts %}
		<div class='col-12 col-lg-3'>{{ post.create_time|date:"Y - m -d" }}</div>
		<div class='col-12 col-lg-9'>
			<a href='{% url "page" key=post.pk %}'>{{post.title}}</a>
		</div>
		{% endfor %}
	</div>
</div>
<div class='rowspace'></div>

<nav class='container d-flex justify-content-center align-item-center page mb-3'>
	{% if posts.has_previous %}
	<a href='?page=1' class='page-item page-link mr2'><i class='fas fa-fast-backward'></i></a>
	<a href='?page={{posts.previous_page_number}}' class='page-item page-link mr2'><i class='fas fa-step-backward'></i></a>
	{% endif %}

	<a class='page-item page-link disabled'>{{posts.number}} of {{posts.paginator.num_pages}}</a>

	{% if posts.has_next %}
	<a href="?page={{posts.next_page_number}}" class='page-item page-link ml2'><i class='fas fa-step-forward'></i></a>
	<a href="?page={{posts.paginator.num_pages}}" class='page-item page-link ml2'><i class='fas fa-fast-forward'></i></a>
	{% endif %}
</nav>

{% endblock %}