{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Open Tag Protocal -->
    <meta property="og:description" content="{{ post.content | truncatewords_html:'10'}}">
    <meta property="og:image" content="{{ post.photo }}">

    <!--Pinterset analytics-->
    <meta name="p:domain_verify" content="a483d4aab5814d02992993262395d5ae"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/mystyle.css' %}">
    <script src='https://code.jquery.com/jquery-3.2.1.js'></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <script src='{% static "js/myjquery.js" %}'></script>
    <!-- for facebook dashboard analysis -->
    <script src='{% static "js/fb.js" %}'></script>
    <link rel='shortcut icon' type='image/x-icon' href='{% static "img/favicon.png" %}'>
    <title>{% block title %}Dev Junior{% endblock %}</title>
  </head>
  <body onload="PR.prettyPrint()">    

    {% include 'nav.html' %}
      
    <div class='container'>
      <div class='rowspace'></div>

      <div class='row'>
        <div class='col-12 col-lg-8'>
          <div class='rowspace'></div>
          <div class='rowspace'></div>
          {% block content %}
          {% endblock %}
        </div>
        <div class='sidebar col-12 col-lg-3 offset-lg-1'>
          <div class='rowspace'></div>
          <div class='rowspace'></div>
          {% block sidebar %}
          {% endblock %}
        </div>
      </div>

      <div class='rowspace'></div>

      <div class='row'>
        {% include 'footer.html' %}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>