{% extends 'base.html' %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}

{% for post in posts %}
<div class="row card mb-5 post">
	<div class='card-header bg-dark text-white'><h3>{{ post.title }}</h3></div>

	<div class='card-body pt-0'>
		<div class='col-12 mb-3 pl-0'>
			<div class="date">{{ post.time|date:"Y - m - d" }}</div>
		</div>
		<div class='col-12 mb-3 pl-0'>
			{% for tag in post.tag %}
		    {% if tag == 'Python3.6' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Python3.6-blue.svg'></img></a>
		    {% elif tag == 'Django2.0' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Framework-Django2.0-brightgreen.svg'></img></a>
		    {% elif tag == 'PHP' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Php-8892BF.svg'></img></a>
		    {% elif tag == 'Nodejs' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Framework-Nodejs-brightgreen.svg'></img></a>
		    {% elif tag == 'Javascript' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Javascript-e26ce0.svg'></img></a>
		    {% elif tag == 'CSS' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-CSS-orange.svg'></img></a>
		    {% elif tag == 'Font-end' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Dev-Font--end-lightgrey.svg'></img></a>
		    {% elif tag == 'Back-end' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Dev-Back--end-lightgrey.svg'></img></a>
		    {% elif tag == 'Bootstrap' %}
		        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Bootstrap-6842f4.svg'></img></a>
		    {% endif %}
		    {% endfor %}
		</div>


		<div class='col-12 mb-3'>
			{% if post.photo %}
	        <img src="{{ post.photo }}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
	        {% elif post.photo_upload %}
	        <img src="{{post.photo_upload.url}}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
	        {% endif %}
	    </div>
	    
	    <div class='col-12 content mb-5'>{{ post.content | truncatewords_html:"10" | safe}}</div>

	    <div class='col-12 d-flex justify-content-center align-item-center'>
		    <a class='read_more' href='{% url "page" key=post.pk %}'>Read More</a>
		</div>
	</div>

</div>
{% endfor %}

<nav class='container d-flex justify-content-center align-item-center page mb-3'>
	<ul class='pagination'>
	{% if posts.has_previous %}
	<a href='?page=1' class='page-item page-link mr-2'><i class='fas fa-fast-backward'></i></a>
	<a href='?page={{ posts.previous_page_number }}' class='page-item page-link mr-2'><i class='fas fa-step-backward'></i></a>
	{% endif %}

	<a class='page-item page-link disabled'>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a>

	{% if posts.has_next %}
	<a href='?page={{ posts.next_page_number }}' class='page-item page-link ml-2'><i class='fas fa-step-forward'></i></a>
	<a href='?page={{ posts.paginator.num_pages }}' class='page-item page-link ml-2'><i class='fas fa-fast-forward'></i></a>
	{% endif %}
	</ul>
</nav>
{% endblock %}

{% block sidebar %}
<div class='card row searchbox mb-3'>
	<div class='card-body bg-dark'>
		<form method="GET" action="{% url 'search' %}" class='input-group'>
			<input type='text' name='q' class='form-control' placeholder="Search...">
			<div class='input-group-append'>
				<button type='submit' class='btn btn-light'>
					<i class='fas fa-search'></i>
				</button>
			</div>
		</form>
	</div>
</div>

<div class='card row tweet d-none d-lg-block mb-3'>
	<div class='card-header bg-dark d-flex justify-content-center mb-0 text-white'>
		<h4>Tweets</h4>
	</div>
	<div class='card-body p-0'>
		<a class="twitter-timeline" 
		data-height="400"
		data-link-color="#d02c2c"
		data-chrome="noheader nofooter transparent" 
		href="https://twitter.com/moklavie?ref_src=twsrc%5Etfw"></a>
	</div>
</div>

<div class='card row pin d-none d-lg-block'>
	<div class='card-header bg-dark text-white d-flex justify-content-center mb-0'>
		<h4>Pinterest</h4>
	</div>
	<div class='card-body p-0'>
		<a data-pin-do="embedBoard"
		data-pin-board-width=auto
		data-pin-scale-height=auto
		href="https://www.pinterest.com/moklavie/it-programming/"></a>
	</div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}

