{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class='modal' id='snippetModal'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header bg-dark text-white'>
				<div class='modal-title'><h2>Snippet</h2></div>
				<button class='close text-white' data-dismiss='modal'>&times;</button>
			</div>
			<form class='form-group'>
			<div class='modal-body'>
				<select class='custom-select' id='lang'>
					<option value='' selected>Select Language</option>
					<option value='css'>CSS</option>
					<option value='html'>HTML5</option>
					<option value='javascript'>Javascript</option>
					<option value='python'>Python3</option>
				</select>
				<div class='rowspace'></div>
				<div id='editor' class='form-control'></div>
			</div>
			<div class='modal-footer bg-light'>
				<button class='btn btn-warning text-white d-none' type='button' id='htmlEscape' data-toggle='tooltip' data-placement='top' title='Click to escape HTML before submitting this snippet'>Escape Html</button>
				<button class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
				<button class='btn btn-primary' type='button' id='snippetButton' data-dismiss='modal'>Insert Snippet</button>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="card row post">
    <div class="card-header bg-dark text-white"><h3>{{ post.title }}</h3></div>

    <div class='card-body pt-0'>
	    <div class='col-12 mb-3 pl-0'>
			<div class="date">{{ post.edit_time|date:"Y - m - d" }}</div>
		</div>

		<div class='row'>
			<div class='col-12 col-lg-9 d-inline mb-3 tag'>
				{% for tag in post.tag %}
			    {% if tag == 'Python3.6' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Python3.6-blue.svg'></img></a>
			    {% elif tag == 'Django2.0' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Framework-Django2.0-brightgreen.svg'></img></a>
			    {% elif tag == 'Nodejs' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Framework-Nodejs-brightgreen.svg'></img></a>
			    {% elif tag == 'Javascript' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Javascript-e26ce0.svg'></img></a>
			    {% elif tag == 'CSS' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-CSS-orange.svg'></img></a>
			    {% elif tag == 'Font-end' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Dev-Font--end-lightgrey.svg'></img></a>
			    {% elif tag == 'Back-end' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Dev-Back--end-lightgrey.svg'></img></a>
			    {% elif tag == 'Bootstrap' %}
			        <a href="{% url 'post_tag' key=tag %}" class='tag'><img src='https://img.shields.io/badge/Script-Bootstrap-6842f4.svg'></img></a>
			    {% endif %}
			    {% endfor %}
			</div>

			<div class='col-12 col-lg-3 d-inline mb-3 share'>
				<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom='true'><i class='fab fa-pinterest' style='color: #AA2529'></i></a>
				<a href="https://twitter.com/share?text={{post.title}}" target='_blank'><i class='fab fa-twitter' data-fa-transform='shrink-5' data-fa-mask='fas fa-circle' style='color: #1DA1F2'></i></a>
				<a href='https://www.facebook.com/dialog/share?app_id=388159358278841&display=popup&href=http://devjunior.com/{% url "page" key=post.pk %}' target='_blank'><i class="fab fa-facebook-f" data-fa-transform="shrink-3.5 down-1.6 right-1.25" data-fa-mask="fas fa-circle" style='color: #4267b2'></i></a>
				<a href="https://plus.google.com/share?url=http://devjunior.com/{% url 'page' key=post.pk %}" target='_blank'><i class='fab fa-google-plus' style='color: #FFC107'></i></a>
			</div>
		</div>

		<div class='col-12 mb-3'>
			{% if post.photo %}
	        <img src="{{ post.photo }}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
	        {% elif post.photo_upload %}
	        <img src="{{post.photo_upload.url}}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
	        {% endif %}
	    </div>
	    
	    <div class='col-12 content mb-4'>{{ post.content | safe}}</div>
	</div>
	{% if request.user.username == 'admin' %}
	<div class='card-footer'>
		<div class='row'>
			<div class='col-12'>
				<a href='{% url "post_edit" key=post.pk %}' style='text-decoration: none'>
					<button type='button' class='btn btn-warning btn-block text-white'>Edit Post</button>
				</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>

<hr>
<div class='card row'>
	<div class='card-header bg-secondary text-white d-flex justify-content-center'>
		<h2>Comments</h2>
	</div>
	<div class='card-body row'>
		{% if comment %}
		{% for c in comment %}
		<dt class='col-12 col-lg-2 comment_author'>
			<span class='badge badge-primary'>
			{%if c.author.first_name %}
				{{ c.author.first_name }}
			{% else %}
				{{ c.author }}
			{% endif %}
			</span>
		</dt>
		<dd class='col-12 col-lg-10 comment_content'>{{ c.content | safe }}</dd>
		<dd class='col-12 d-flex helptext justify-content-end'>{{ c.edit_time }}</dd>
		{% if c.author == request.user %}
		<dd class='col-12 d-flex helptext justify-content-end'>
			<a href='{% url "comment_edit" key=c.pk %}'>
				<button type='button' class='btn btn-sm btn-warning text-white'>Edit</button>
			</a>
		</dd>
		{% endif %}
		{% endfor %}
		{% else %}
		<div class='col-12 d-flex justify-content-center helptext'>There is no comment yet</div>
		{% endif %}
	</div>
</div>
<div class='rowspace'></div>
<form method="POST">
	{% csrf_token %}
	<div class='card row'>
		<div class='card-header bg-secondary text-white d-flex justify-content-center'><h2>New Comment</h2></div>
		{% if not request.user.is_authenticated %}
		<div class='card-body'>
			<div class='col-12 d-flex justify-content-center helptext'>
				<span>Please <a href='{% url "login" %}?next={{ request.path }}'>Login</a> to comment</span>
			</div>
		</div>
		{% else %}
		<div class='card-body'>
			<div class='row mb-3'>
				<dt class='col-12 col-lg-3'><label>Tools:</label></dt>
				<dd class='col-12 col-lg-9 posttools bg-light d-flex justify-content-center'>
					<button type='button' class='btn btn-sm btn-light mr-2' id='bold'>B</button>
						<button type='button' class='btn btn-sm btn-light mr-2' id='line'>Line</button>
						<button type='button' class='btn btn-sm btn-light mr-2' id='url'>Url</button>
						<button type='button' class='btn btn-sm btn-light mr-2' id='img'>Img</button>
						<button type='button' class='btn btn-sm btn-light mr-2' id='kbd'>kbd</button>
						<button type='button' class='btn btn-sm btn-light mr-2' id='snippet'>Snippet</button>
				</dd>
			</div>
			{% for field in form %}
			<div class='row'>
				<dt class='col-12 col-lg-3'>
					<label for='{{ field.name }}'>{{ field.label_tag }}</label>
				</dt>
				<dd class='col-12 col-lg-9'>{{ field }}</dd>
				{% if field.help_text %}
				<dd class='col-12 col-lg-9 offset-lg-3'>{{ field.help_text }}</dd>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<div class='card-footer'>
			<button type='submit' class='btn btn-block btn-info'>Comment</button>
		</div>
		{% endif %}
	</div>
</form>

<script src='{% static "js/ace/src-noconflict/ace.js" %}' type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}

{% block sidebar %}
<div class='card row searchbox mb-3'>
	<div class='card-body bg-dark'>
		<form method="GET" action="{% url 'search' %}" class='input-group'>
			<input type='text' name='q' class='form-control' placeholder="Search...">
			<div class='input-group-append'>
				<button type='submit' class='btn btn-light'>
					<i class='fas fa-search'></i>
				</button>
			</div>
		</form>
	</div>
</div>

<div class='card row sections d-none d-lg-block mb-3'>
	<div class='card-header bg-dark text-white  d-flex justify-content-center mb-0'><h4>Sections</h4></div>
	<nav class='card-body'>
		{% for section in sections %}
		<span class='nav-item'><a href='#{{section}}' class='nav-link'>{{section}}</a></span>
		{% endfor %}
	</nav>
</div>

<div class='card row d-none d-lg-block tweet mb-3'>
	<div class='card-header bg-dark d-flex justify-content-center mb-0 text-white'>
		<h4>Tweets</h4>
	</div>
	<div class='card-body p-0'>
		<a class="twitter-timeline" 
		data-height="400"
		data-link-color="#d02c2c"
		data-chrome="noheader nofooter transparent" 
		href="https://twitter.com/moklavie?ref_src=twsrc%5Etfw"></a>
	</div>
</div>

<div class='card row pin d-none d-lg-block'>
	<div class='card-header bg-dark text-white d-flex justify-content-center mb-0'>
		<h4>Pinterest</h4>
	</div>
	<div class='card-body p-0'>
		<a data-pin-do="embedBoard"
		data-pin-board-width=auto
		data-pin-scale-height=auto
		href="https://www.pinterest.com/moklavie/it-programming/"></a>
	</div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}